
<div class="container">

    <div class="d-flex justify-content-between mb-4">
        <div>
          <button class="btn btn-primary me-2" (click)="switchLanguage('en')">{{translate('English')}}</button>
          <button class="btn btn-secondary" (click)="switchLanguage('hu')">{{translate('Magyar')}}</button>
        </div>
        <h1>{{translate('TITLE')}}</h1>
      </div>


        <div class="row fw-bold my-3">
          <div *ngFor="let oszlop of oszlopok" class="col">
            {{translate(oszlop.text)}}
          </div>
          <div class="col">
            {{translate('ACTIONS')}}
          </div>
          </div>

        <div  class="row my-1">
          <div *ngFor="let oszlop of oszlopok" class="col">
            <input [(ngModel)]="newProduct[oszlop.key]" [type]="oszlop.type" class="form-control">
          </div>
          <div class="col">
            <button (click)="createProduct()" type="button" class="btn btn-primary btn-sm">{{translate('ADD')}}</button>
          </div>
        </div>
    
        <div *ngFor="let item of products" class="row my-1">
          <div *ngFor="let oszlop of oszlopok" class="col">
            <input [(ngModel)]="item[oszlop.key]" [type]="oszlop.type" class="form-control">
          </div>
          <div class="col">
              <button (click)="updateProduct(item)" type="button" class="btn btn-warning btn-sm">{{translate('UPDATE')}}</button>
              <button (click)="deleteProduct(item.id)" type="button" class="ms-3 btn btn-danger btn-sm">{{translate('DELETE')}}</button>
          </div>
        </div>
    
    <div *ngFor="let item of products">
        <td>
            <input [(ngModel)]="item.name"/>
        </td>
    </div>

</div>